// root settings / variables
//$app-hide-overflow: true; // set to false to see everything that's going on
$btn-bar-width: 1.34em;
$btn-bar-height: 3px;
$btn-bar-spacing: 3px;
$menu-bar-anim-time: 0.3s;
$menu-bar-anim-offset: 400%;
$close-bar-anim-time: 0.2s;
$close-bar-anim-offset: 250%;
$background-anim-time: $close-bar-anim-time;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    overflow-x: hidden;
}

.nav {
    transition: all 0.5s ease-in-out;
    width:100%;
    position: fixed;
    left: 0;
    top: 0;
    &bar {
        display: flex;
        flex-flow: row;
        position: relative;
        z-index: 3;
        list-style-type: none;
        background-color: transparent;
        height: 80px;

        @media only screen and (max-width: 767px) {
            height: 60px;
        }

    }

    &__logo {
        display: flex;
        flex: 1 1 100%;
    }

    &__logo img {
        padding-top:8px;
        padding-left: 2px;

        @media only screen and (max-width: 767px) {
            
            padding-top: 5px;
        }
    }

    &__btn {
        display: flex;
        flex-flow: column;
        align-items: center;
        position: relative;
        cursor: pointer;
        height:100%;
        line-height:80px;
        width: 150px;
        
        @media only screen and (max-width: 767px) {
            width: 60px;
            padding-top: 22px;
          
        }


        &--hidden {
            display: none;
        }
        &:link,
        &:visited {
            text-decoration: none;
            color: white;
            font-size: 1.5rem;
            background-color: transparent;
            transition: all 0.5s cubic-bezier(0.39, 0.575, 0.565, 1);
        }
        &:hover:not(.nav__btn--active) {
            background-color: rgb(81, 142, 239);
            text-shadow: 0px 1px 1px green, 0px -1px 1px green, 1px 0px 1px green, -1px 0px 1px green;
            border-radius:2px;

        }

        &--active {
            box-shadow: inset 0px 0px 100px 0px rgb(40, 172, 3);
            text-shadow: 2px 2px 2px rgb(81, 142, 239);
            border-radius:2px;
        }
    }

    &--sticky {
        width: 100%;
        z-index: 100;
        background-color: #212121;
        opacity:0.9;
        box-shadow: 0 2px 1px rgb(81, 142, 239);
    }

    &__link {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        &:link,
        &:visited {
            text-decoration: none;
            color: white;
            font-size: 2rem;
            transition: all 0.7s ease-in-out;
        }
        &:hover {
            background-color:rgb(7, 16, 41);
            text-shadow: 0px 1px 1px red, 0px -1px 1px red, 1px 0px 1px red, -1px 0px 1px red;
        }
    }

    &__content {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        transition: z-index 0.01s ease-in-out $background-anim-time;

    }

    &__background {
        position: absolute;
        display: flex;
        flex-flow: column;
        align-items: stretch;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;


    }

    &__slice {
        background: rgba(4, 11, 54, 0.9);
        
        border: none;
        flex: 1 1 100%;
        transition: transform $background-anim-time ease-in-out;
        display: flex;


        &:nth-child(odd) {
            transform: translateX(-100%);
        }
        &:nth-child(even) {
            transform: translateX(100%);
        }
        &:not(:first-child) {
            margin-top: -1px;
        }
    }

    &.nav--open {
        z-index:1;
        .nav__content, .nav__background {
            position: fixed;
        }
        .single__bar.single__bar--menu {

            opacity: 0;
            &:nth-child(odd) {
                transform: translateX(-$menu-bar-anim-offset);
            }
            &:nth-child(even) {
                transform: translateX( $menu-bar-anim-offset / 2);
            }
            transition: transform $menu-bar-anim-time ease-in-out,
            opacity ($menu-bar-anim-time / 2) ease-in-out ($menu-bar-anim-time / 2);
        }
        .single__bar.single__bar--close {
            opacity: 1;
            &:not(:last-child) {
                transform: rotate( 45deg);
            }
            &:last-child {
                transform: rotate(-45deg);
            }
            transition: transform $close-bar-anim-time ease-in-out $menu-bar-anim-time,
            opacity ($close-bar-anim-time / 4) ease-in-out $menu-bar-anim-time;
        }
        .nav__content {
            z-index: 1;
            transition: z-index 0.01s ease-in-out $menu-bar-anim-time;
        }
        .nav__slice {
            transform: translateX(0%);
            border: 1px solid orange;
            transition: transform $background-anim-time ease-in-out $menu-bar-anim-time;
        }
    }
}

.single__bar {
    position: relative;
    width: $btn-bar-width;
    height: $btn-bar-height;
    border-radius: 5px;
    background: white;

    &.single__bar--menu {
        transition: transform $menu-bar-anim-time ease-in-out $close-bar-anim-time,
        opacity ($menu-bar-anim-time / 2) ease-in-out $close-bar-anim-time;
        &:not(:first-child) {
            margin-top: $btn-bar-spacing;
        }
    }

    &.single__bar--close {
        transform-origin: center center;
        position: absolute;
        margin-top: -$btn-bar-height / 2;
        opacity: 0;
        top: 50%;
        transition: transform $close-bar-anim-time ease-in-out, opacity ($close-bar-anim-time / 4) ease-in-out $close-bar-anim-time;

        &:not(:last-child) {
            transform: rotate( 45deg) translateX(-$close-bar-anim-offset);
        }
        &:last-child {
            transform: rotate(-45deg) translateX( $close-bar-anim-offset);
        }
    }
}

