$grid-columns: 12;
$text-shadow: 2px 2px 3px #323232;

@mixin border-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
    }
/*------------------------------------------------------general--------------------------------------------------------------*/

*, *:after, *:before {
    margin:0;
    padding:0;
    font-family: 'Oswald', sans-serif;
    @include border-box;
}

body {
    background-color: white;
    
}

img {
    display:block;
    max-width:100%;
    height:auto;
    margin:auto;
}
.container {
    width: 100%;
    margin: 0 auto;
}

.clearfix:after,
.container:after,
.row:after {
      content: "";
      display: table;
      clear: both; 
      }

.overlay-container {
    width:100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index:100;
    height: 100vh;
}

.img--circle {
    border-radius: 50%;
}

/*-------------------------------------------------grid system-----------------------------------------------------*/

[class*='column-'] {
    float: left;
    display: block;
    padding: 1em;
    min-height: 1px; 
    position: relative;
    @media only screen and (max-width: 575px) {
        width:100%
    }

}
@media only screen and (min-width: 576px) {
        
    @for $i from 0 through $grid-columns {
    
       .column-xs-#{$i} { 
           width: 100% / $grid-columns * $i;
       }

       .col-xs-offset-#{$i} {
           margin-left: 100% / $grid-columns * $i;
       }

   }

}

@media only screen and (min-width: 768px) {
        
    @for $i from 0 through $grid-columns {
    
       .column-sm-#{$i} { 
           width: 100% / $grid-columns * $i;
       }

       .col-sm-offset-#{$i} {
        margin-left: 100% / $grid-columns * $i;
    }
    
   }
    
}    

@media only screen and (min-width: 992px) {
        
    @for $i from 0 through $grid-columns {
    
       .column-md-#{$i} { 
           width: 100% / $grid-columns * $i;
       }

       .col-md-offset-#{$i} {
        margin-left: 100% / $grid-columns * $i;
    }
    
   }
    
}

@media only screen and (min-width: 1200px) {
        
    @for $i from 0 through $grid-columns {
    
       .column-lg-#{$i} { 
           width: 100% / $grid-columns * $i;
       }

       .col-lg-offset-#{$i} {
        margin-left: 100% / $grid-columns * $i;
    }
    
   }
    
}

/*------------------------------------------------------HEADER---------------------------------------------------------------*/
.pageheader {
    background-image: url('../img/Space_The_asteroid.jpg');
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    background-origin:border;
    position: relative;

    &__title {
        text-align: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size:2rem;
        text-shadow: 0px 1px 2px green, 0px -1px 2px green, 1px 0px 2px green, -1px 0px 2px green;
        width:100%;

        @media only screen and (max-width: 767px) {
            font-size:1.5rem;
        }

        @media only screen and (max-width: 575px) {
            font-size:1rem;
        }

     
        
        .subtitle{
            text-shadow: 0px 1px 1px red, 0px -1px 1px red, 1px 0px 1px red, -1px 0px 1px red;
            font-size: 1.5rem;

            @media only screen and (max-width: 767px) {
                font-size:1.2rem;
            }

            @media only screen and (max-width: 575px) {
                font-size:1rem;
            }
        }
    }
    &__btn {
        width:60px;
        height:60px;
        border: 4px solid white;
        color:white;
        font-size: 22px;
        border-radius:50%;
        text-align:center;
        position: absolute;
        line-height: 52px;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: all .2s ease-in-out;
        outline:none;

        &:hover, &:focus {
            color:black;
            background: white;
        }
    }
    
}

.section__title {
    padding-top:80px;
    padding-bottom: 20px;
    margin: 0 auto 120px;
    text-align:center;
    font-size:3rem;
    border-bottom: 5px solid rgb(112, 104, 31);
    width:30%;
    
    @media only screen and (max-width: 767px) {
        width:60%;
    }

    @media only screen and (max-width: 575px) {
        width:60%;
    }

    @media only screen and (max-width: 330px) {
        width:80%;
    }

    &--white {
       color: white;
       text-shadow: 2px 2px 5px #adfead;
    }
    &--black {
        color: black;
        text-shadow: $text-shadow;
    }
}
/*---------------------------------------------------------ABOUT--------------------------------------------------------*/
.about {
   min-height: 1000px;
   padding-bottom: 100px;

    &__icon {
        display:inline-block;
        border-right: 1px solid black;
        text-align:center;
        padding:10px;

        @media only screen and (max-width: 575px) {
            padding: 5px;
        }


    }
    &__item {
        border: 1px solid black;
        font-size: 1.5rem;
        margin-top: 20px;
        transition: all 0.2s ease-in-out;
        opacity: inherit;

        &:hover {
            color:white;
            background-color:green;
        }
    }

    &__section {
        position: relative;
        margin: 30px auto;
        padding: 40px;
        max-width: 90%;
        font-size: 1.5rem;
        color: #222;
        display:flex;
        flex-wrap:wrap;
        justify-content: space-around;
        text-align: justify;
        background: #fff;
        box-shadow: 0 0 5px rgba(0,0,0,.3);

        @media only screen and (max-width: 575px) {
            font-size:1rem;
            padding: 10px;

        }

        &::before,
        &::after {
          content: '';
          position: absolute;
          z-index: -1;
          left: 0;
          top: 0;
          display: block;
          width: 100%;
          height: 100%;
          background: inherit;
          box-shadow: inherit;
          transform: rotate(2deg);
        }
    }

    &__information, &__description {
        width:450px;
    }

    &__information {
        padding: 10px;
        transition: all 1s ease-in-out;
        &--slide-in {
            transform: translate(-150%);
            opacity:0;
            &.about__information--slide-in-active{
            transform: translate(0%);
            opacity:1;
            
            }
        }
   
    }
    
    &__description {
        padding: 60px 20px;
        transition: all 1s ease-in-out;
        &--slide-in {
            transform: translate(150%);
            opacity:0;

            &.about__description--slide-in-active{
            transform: translate(0%);
            opacity:1;
            }
        }
    }

    &__data {
        font-size:16px;
        padding: 0 10px;

        @media only screen and (max-width: 575px) {
            font-size:12px;
            padding: 10px 10px;
        }

        @media only screen and (max-width: 310px) {
            font-size:10px;
        }

    }
}

/*-----------------------------------------------------skills-------------------------------------------------------*/
.skills {
    min-height: 1200px;
    background-image: url('../img/Hyades.jpg');
    color:white;
    &__item {
        width:300px;
        height:400px;
        transition: all .8s ease-in-out;
        &--slide-in {
            transform: translateY(10%);
            opacity:0;
            &.skills__item--slide-in-active{
            transform: translateY(0%);
            opacity:1;
            }
        }
    }

    &__img--flex {
        display: flex;
        justify-content:space-around;
        flex-wrap:wrap;
        flex: 1;
    }
    &__description {
        margin-top: 50px;
        padding:10px;
        text-align: center;
    }
}
/*--------------------------------------------------------projects---------------------------------------------------*/
.projects {
    min-height:1200px;
    padding-bottom:100px;
    &__tile {
        position: relative;
        max-width: 100%;
        min-height: 400px;
        border: 1px solid black;
        box-shadow: 0px 0px 5px #232323;
        background-image: url('../img/image-placeholder.jpg');
        background-position: center center;
        background-size:cover;

        transition: all 1s ease-in-out;
        &--slide-in {
            transform: translateY(20%);
            opacity:0;
            &.projects__tile--slide-in-active{
            opacity:1;
            transform: translateY(0%);
            }
        }
   
    &--overlay {
         width: 100%;
         background-color: rgb(0, 0, 0);
         position: absolute;
         top: 0;
         bottom: 0;
         left: 0;
         right: 0;
         height: 100%;
         width: 100%;
         opacity: 0;
         transition: .5s ease;
         font-size:32px;
         color:white;
       
     }

     &:hover { 
         .projects__tile--overlay {
            opacity: 0.8;
            }
        }
    }
    
    &__name {
        padding-top: 15%;
        text-align:center;
    }

    &__description {
        text-align:center;
        font-size:20px;
        padding: 10%;
    }

    &__github {
        border:1px solid white;
        color: white;
        width:50px;
        height:50px;
        text-align:center;
        transition: all .5s ease;
        display:inline-block;
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
 
        &:hover {
            background-color: white;
            color:black;
        }
    }
    &__live {
        text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
        color: white;
        text-decoration:none;
        height: 50px;
        width: 100px;
        border: 1px solid white;
        display: inline-block;
        text-align:center;
        transition: all .5s ease;
        &:hover {
            background-color: white;
            color:black;
        }
    }

    &__buttons {
       display:flex;
       justify-content: space-around;
       margin:auto;
       align-items: flex-end;
    }
}

#portfolio_project {
    background-image: url('../img/portfolio.jpg');
    background-position: center center;
    background-size:cover;
}

/*--------------------------------------------------------FOOTER------------------------------------------------------------------*/

footer {
    min-height: 368px;
    background-color: #000000;
    background-image: url('../img/background-contact.png');
    background-repeat: no-repeat;
    background-position: center center;

    .footer__overlay {
        background-color: rgba(0, 0, 0, 0.6);
        min-height: inherit;
    
    }
}

.contact {
      &__data, &__message {
        margin-left:auto;
        margin-right:auto;
        display:block;
        background-color: transparent;
        margin-top: 50px;
        padding: 10px;
       
        color:white;
        outline:none;

     
    }

    &__data {
        border: none;
        border-bottom: 1px solid white;
        transition: all .5s ease-in-out;
        font-size: 20px;
        width:25%;

        &:focus {
            border-bottom: 1px solid rgb(194, 228, 185);
        }

        @media only screen and  (max-width: 991px) {
            width:33.333333333%;
        }

        @media only screen and  (max-width: 767px) {
            width:45%;
        }

        @media only screen and (max-width: 575px) {
            width:60%;
            font-size: 16px;
        }
    }

    &__submit {
        margin-top: 50px;
        border: 1px solid white;
        width:25%;
        background-color: black;
        padding: 20px;
        color:white;
        transition: all 0.5s ease;
        display: block;
        margin-left:auto;
        margin-right:auto;
        &:hover {
            background-color:white;
            color:black;
            cursor: not-allowed;
        }

        @media only screen and (max-width: 575px) {
            width:50%
        }
    }

    &__message {
        margin-top:100px;
        height:200px;
        resize:none;
        width:33.33333333%;

        @media only screen and  (max-width: 991px) {
            width:50%
        }

        @media only screen and (max-width: 767px) {
            width:60%;
            margin-top:50px;
        }

        @media only screen and (max-width: 575px) {
            width:80%;
        }
    }
}


.footer__copyright {
    text-align:center;
    margin-top:10px;
    color:white;
    
}

.footer
{
    &__socials {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
        padding: 20px 0;
        margin-top: 100px;
    }


    &__icon {
	width: 60px;
	height:60px;
	border-radius: 50%;
	border:1px solid gray;
	text-align:center;
	display: inline-block;
	margin-right: 1%;
	color:gray;
	background-color: black;
    transition: all 0.3s ease-in-out;
    font-size:32px;
    padding-top:4px;
    text-align:center;

        &--fb {
            &:hover {
            background-color: #3557a2;
            color:white;
            }
        }

        &--in {
            &:hover {
            background-color: #0077B5;
            color:white;
            }
        }

        &--git {
            &:hover {
            background-color: white;
            color:#24292e;
            }
        }
    }

    &__link {
        text-decoration: none;
     
        &--email {
            color:white;
            transition: all .5s ease-in-out;
            &:hover {
                color: #5c963f;
            }
        }
    }

    &__copyright {
        background-color: #121212;
        padding:10px;
        font-size:20px;

        @media only screen and (max-width: 767px) {
            font-size:16px;
        }

        @media only screen and (max-width: 767px) {
            font-size:10px;
        }
    }
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: rgb(194, 228, 185);
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: rgb(194, 228, 185);
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: rgb(194, 228, 185);
  }
  :-moz-placeholder { /* Firefox 18- */
    color: rgb(194, 228, 185);
  }
